<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../easyui1.5/themes/icon.css">
    <link rel="stylesheet" href="../easyui1.5/themes/default/easyui.css">
    <script src="../easyui1.5/jquery.min.js"></script>
    <script src="../easyui1.5/jquery.easyui.min.js"></script>
    <script src="../easyui1.5/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
<table id="AllTable"></table>

</body>


<script>
$(function(){
chaxun();
})
function chaxun(){

    $("#AllTable").datagrid({
        url:'../test/queryMogoList',
        //条查
        toolbar:'#toolbar',
        //自适应父容器大小
        fit:true,
        //自定义展示几条
        pageSize:6,
        pagination:true,
        loadMsg:"正在加载中",
        //singleSelect:true, 只允许选择一行
        //自定义下拉选择几条
        pageList:[

            2,4,6,8,10,15,20,30

        ],
        columns:[

            [

            {field:'check',checkbox:true},
            {field:'id',title:'编号',width:'160px'},
            {field:'name',title:'名称',width:'130px'}


        ]

        ]
    })
}
</script>
</html>