<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.BookMapper" >
<select id="queryBookList" resultType="com.jk.model.Book">
    select * from t_book
</select>
    <insert id="addBook" parameterType="java.util.List">
        INSERT INTO t_book (name,bookTime,bookStatus,bookDetail,bookType) VALUES
        <foreach collection="list" item="l" separator=","  >
            ( #{l.name},#{l.bookTime},#{l.bookStatus},#{l.bookDetail},#{l.bookType})

        </foreach>

    </insert>
</mapper>