<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../easyui1.5/themes/icon.css">
    <link rel="stylesheet" href="../easyui1.5/themes/default/easyui.css">
    <script src="../easyui1.5/jquery.min.js"></script>
    <script src="../easyui1.5/jquery.easyui.min.js"></script>
    <script src="../easyui1.5/locale/easyui-lang-zh_CN.js"></script>
</head>
<body>
<div id="toolbar">
    <a id="delbutton" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">批量删除</a>
    <a id="addbutton" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">新增书籍</a>
</div>
<table id="AllTable"></table>
<!-- 弹框 -->
<div id="MusicDialog" class="easyui-dialog" data-options="title:'音乐',closed:true,modal:true,iconCls:'icon-add',buttons:[{
			 text:'保存',
			 plain:true,
			 iconCls:'icon-save',
			 handler:function(){
			 saveMusic();


			 }
     }


 ]" style="width:800px;height:560px">
    <form id="MusicForm" method="post">
        <center>

            <table border="2">
                <tr>
                    <td>书籍名称</td>
                    <td>
                        <input type="text" class="easyui-textbox" name="name">
                        <input type="text" name="id" style="display:none">
                    </td>
                </tr>
                <tr>
                    <td>出版日期</td>
                    <td>
                        <input type="text" name="bookTime" Class="easyui-datebox"/>
                    </td>
                </tr>
                <tr>
                    <td>书籍状态</td>
                    <td>
                        <input type="radio" name="bookStatus" value="1">上架
                        <input type="radio" name="bookStatus" value="2">下架
                    </td>
                </tr>
                <tr>
                    <td>书籍简介</td>
                    <td>
                        <input type="text" class="easyui-textbox" name="bookDetail">
                    </td>
                </tr>
                <tr>
                    <td>书籍类型</td>
                    <td>
                       <select name="bookType">
                           <option value="11">类型1</option>
                           <option value="22">类型2</option>
                           <option value="33">类型3</option>
                       </select>
                    </td>
                </tr>
            </table>
        </center>
    </form>
</div>
</body>


<script>
$(function(){
chaxun();
})
function chaxun(){

    $("#AllTable").datagrid({
        url:'../bookAll/queryPageBookList',
        //条查
        toolbar:'#toolbar',
        //自适应父容器大小
        fit:true,
        //自定义展示几条
        pageSize:6,
        pagination:true,
        loadMsg:"正在加载中",
        //singleSelect:true, 只允许选择一行
        //自定义下拉选择几条
        pageList:[

            2,4,6,8,10,15,20,30

        ],
        columns:[

            [

            {field:'check',checkbox:true},
            {field:'id',title:'书籍编号',width:'160px'},
                {field:'name',title:'书籍名称',width:'130px'},
                {field:'bookTime',title:'出版时间',width:'160px'},
                {field:'bookStatus',title:'书籍状态',width:'10px',formatter:function(value,index,row){
                    var status = "";
                    if(value == 1){
                        status += "上架";
                    }
                        if(value == 2){
                            status += "下架";
                        }
                   return status;
                    }},
                {field:'bookDetail',title:'书籍简介',width:'100px'},
                {field:'bookType',title:'书籍类型',width:'130px',formatter:function(value,index,row){
                    var type = "";
                    if(value == 11){
                        type += "类型1";
                    }
                        if(value == 22){
                            type += "类型2";
                        }
                        if(value == 33){
                            type += "类型3";
                        }
                   return type;
                    }},
                {field:'123',title:'操作',formatter:function(value,row,index){
                        return '<a href="javascript:del('+row.id+');">删除</a> | <a href="javascript:edit('+row.id+');">修改</a>' ;
                    }}


        ]

        ]
    })

}
function del(id){
    $.messager.confirm('确认','您确定要删除吗?',function(r){
        if(r){
            $.ajax({
                url:'../bookAll/del',
                type:'post',
                data:{
                    ids:id
                },
                dataType:'json',
                success:function(data){
                    if(data){
                        $("#AllTable").datagrid('reload');
                    }else{
                        $.messager.alert('提示','删除失败','error');
                    }
                }
            })
        }
    });
}

//新增打开弹框:通过ID选择器找到弹框的ID然后打开
$("#addbutton").click(function(){

    $("#MusicDialog").dialog({
        title:'新增书籍',
        closed:false

    })

})

/* 新增保存 */
function saveMusic(){


    $("#MusicForm").form('submit',{
        url:'../bookAll/addBookList',
        onSubmit:function(){

            return true;
        },
        success:function(data){
            if(data){
                chaxun();
                $("#MusicDialog").dialog('close')
            }else{
                $.messager.alert('提示','保存失败','error')
            }

        }
    })
}
//修改回显
function edit(id){

    $.ajax({
        url:'../bookAll/queryFindBookById',
        type:'post',
        data:{
            id:id
        },
        dataType:'json',
        success:function(data){
            $("#MusicForm").form('load',data);

            $("#MusicDialog").dialog({
                title:'修改书籍',
                closed:false

            })
        }
    })


}
</script>
</html>